.pr_card{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 15px;
  position: relative;
  z-index: 1;
}
.pr_card{
  width: 100%;
  height: 435px;
}
.pr_card img{
  width: 100%;
}

.pr_card .text-pr{
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}
.pr_card .filter{
  position: absolute;
  top: 20px;
  left: 0;
}
.pr_card .text-pr .clamped-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}
.pr_card .text-pr .clamped-text2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Number of lines to show */
  overflow: hidden;
  text-overflow: ellipsis;
}
.pr_card .text-pr .des{
  padding-top: 20px;
}
.pr_card .filter{
  background-color: rgba(226, 53, 53, 1);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.pr_card .text-pr .btnla{
  margin: 20px 0;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
}
.pr_card .text-pr .btnla button{
  background-color: rgba(255, 112, 16, 1);
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 6px;
}
.pr_card .text-pr .btnla p{
  color: rgba(255, 112, 16, 1);
}