.search{
  background-color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: space-between;
  margin: 0px 14px;
  padding: 20px 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 8px;
    border: 1px solid rgba(0, 0, 0, 0.09);
    margin-bottom: 30px;
}
.search .inp-fl{
  display: flex;
  align-items: center;
  border: 1px solid rgb(224, 224, 224);
  padding: 6px 14px;
  border-radius: 5px;
  width: 65%;
}
.search .inp-fl input{
  padding: 5px 5px;
  border: none;
  outline: none;
  width: 100%;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}
.search button{
  background-color: rgba(255, 112, 16, 1);
  border: none;
  color: white;
  padding: 14px 15px;
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}



.head_title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
  font-family: 'Roboto', sans-serif;
  padding-top: 45px;
  padding-bottom: 20px;
}
.head_title h1{
  font-size: 33px;
}
.head_title .filter{
  display: flex;
  align-items: center;
  padding-left: 5px;
  gap: 3px;
  background-color: white;
}
.head_title .filter select{
  border: none;
  outline: none;
  padding: 10px 0px;
  width: 100%;
  background-color: transparent;
}


.card{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  padding: 1px 15px;
  z-index: -1 !important;
}




.txt_combo_tagi{
  padding-top: 50px;
  width: 60%;
  margin: auto;
}
.txt_combo_tagi a{
  color: #FF7010;
}

@media (max-width: 550px) {
  .search{
  display: none;
}
}

@media (max-width: 1150px) { 
.card{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.pr_card{
  height: auto !important;
}
.pr_card .text-pr .btnla{
  display: flex;
  flex-direction: column;
}
}

@media (max-width: 720px) {
 
.card{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(2, 1fr);
} 
}

@media (max-width: 550px) { 
.card{
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(1, 1fr);
} 
.pr_card{
  width: 80% !important;
  margin: auto;
}
.txt_combo_tagi{
  padding-top: 50px;
  width: 95%;
  margin: auto;
}
}
@media (max-width: 410px) { 
.pr_card{
  width: 100% !important;
  margin: auto;
}
}