.orqafon{
 background:  rgb(247, 247, 247);
}
.flex_card{
 display: flex;
 justify-content: space-between;
 background-color: rgba(255, 255, 255, 1);
 padding: 20px;
 width: 80%;
 margin: auto;
 border-radius: 5px;
 border: 1px solid rgb(229, 229, 229);
}
.ro{
  padding: 20px 0; 
}
.flex_card .left{
  display: flex;
  align-items: center;
  gap: 20px;
}
.flex_card .left img{
  width: 100px;
  border-radius: 105px;
}



.flex_card .right .price{
  color: rgba(255, 112, 16, 1);
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
}
.flex_card .right button{
  padding: 9px;
  border: none;
  cursor: pointer;
  background-color: rgba(255, 238, 226, 1);
  color: rgba(255, 112, 16, 1);
}
.flex_card .right button:hover{
  background: rgb(248, 222, 203);
}
@media (max-width:800px) {
 .flex_card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  } 
}
@media (max-width:550px) {
 .flex_card{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: auto;
  } 
}
@media (max-width:480px) {
.flex_card .left{
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
}